header {
    height: 130px;
    background: rgb(235, 232, 232);
    width: 100%;
}

header * {
    color: black;
}

header ul {
    float: right;
    margin: 0;
    padding: 0;
    width: 60%;
    list-style: none;
    margin-top: 32px;
}

header ul li {
    float: left;
    position: relative;
    margin-left: 30px;
}

header ul li ul {
    position: absolute;
    top: 36px;
    right: 0px;
    width: 100%;
    display: none;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 137px;
    right: 31px;
}
header ul li ul li a{
    position: relative;
    width: 100%;
    border: 1px solid rgb(243, 243, 243);
    padding: 10px;
    background: white;
    color: #444;
}

header ul li a:hover {
    background: #006669;
    transition: 0.5s;
    text-decoration: none;
    
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header .logo-header-login {
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .menu-toggle {
    display: none;
}

.font {
    font-size: .8em;
    margin-left: 5px;
}

.user {
    margin-right: 5px;
}


